body {
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

header,
footer,
section {
   overflow: auto;
}


a,
a:visited,
a:active,
a:focus {
  color: #fff;
  text-decoration: none;
}

.main-nav {
  border-top: 1px solid #ddd;
  background-color: #00D5B3;
  color: white;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 30px;
}

.nav-paperbot {
  font-size: 1.4em;
  font-family: sans-serif;
  padding-top: 15px;
  padding-left: 30px;
  width: 61.5%;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.main-nav ul li {
  padding: 0 10px;
  font-size: 14px;
}

.add-to-slack {
  padding: 1px 10px 3px 10px;
  background-color: #fff;
  border-radius: 6px;
  color: #393a3f;
  height: 50%;
  margin-top: 3px;
  margin-left: 2%;
  line-height: 2;
  border: 1px solid #ddd;
  font-size: 14px;
}

.add-to-slack::before {
  background: url("../img/Slack_Icon.png");
  width: 23px;
  height: 23px;
  background-size: cover;
  display: inline-block;
  position: relative;
  left: 0;
  top: 6px;
  content: "";
}


.sec-presentation {
  height: 500px;
  background-color: #00D5B3;
  background-image: url("../img/header-icons.01d079.png"), url("../img/macbook.619fe2_2.png");
  background-position: top left, top right;
  background-size: 56.2%, 50%;
  background-repeat: no-repeat;
}

.sec-presentation::after {
  background-color: #00D5B3;
  content: '';
  display: block;
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.art-presentation h1,
p {
 width: 35.5%;
 padding-left: 5%;
}

.art-presentation p {
 width: 45%;
 font-size: 22px;
 font-weight: 300;
 line-height: 1.6em;
}

.art-presentation h1 {
  padding-top: 20px;
  font-weight: 300;
  padding-top: 50px;
  font-size: 2.2em;
  text-align: justify;
}

.art-presentation .add-to-slack {
  width: 230px;
  padding: 5px 15px 5px 15px;
  font-size: 1.7em;
  font-weight: 400;
  border-radius: 15px;
  margin-left: 5%;
}

.art-presentation .add-to-slack::before {
  width: 45px;
  height: 45px;
  background-size: cover;
  display: inline-block;
  position: relative;
  left: 0;
  top: 6px;
  content: "";
}

.client-list {
  margin-top: 150px;
}

.text-center {
  text-align: center;
}

.thousands-text {
  color: #4c5155;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 90px;
  margin-top: 70px;
}

.client-img {
  margin: 40px;
  max-height: 36px;
}

.client-img-sales {
  margin: 27px 40px 40px 40px;
  max-height: 65px;
}

.images {
  display: flex;
  justify-content: center;
}
