body {
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

header,
footer,
section {
   overflow: auto;
}

a,
a:visited,
a:active,
a:focus {
  color: #fff;
  text-decoration: none;
}

.main-nav {
  border-top: 1px solid #ddd;
  background-color: #00D5B3;
  color: white;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.nav-paperbot {
  font-size: 1.3em;
  font-family: sans-serif;
  padding-top: 15px;
  padding-left: 30px;
  width: 61.5%;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.main-nav ul li {
  padding: 0 10px;
  font-size: 14px;
}

.add-to-slack {
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 6px;
  color: #000;
  height: 50%;
  margin-top: 3px;
  margin-left: 2%;
  border: 1px solid #ddd;
  line-height: 1.5em;
  font-size: 14px;
}

.add-to-slack::before {
  background: url("../img/Slack_Icon.png");
  width: 23px;
  height: 23px;
  background-size: cover;
  display: inline-block;
  position: relative;
  left: 0;
  top: 4px;
  content: "";
}

.sec-presentation{
  background-color: #00D5B3;
}

.art-presentation h1,p{
 width: 35%;
 padding-left: 5%;
}

.art-presentation p{
 width: 40%;
}

.art-presentation h1{
  font-weight: 100;
  font-size: 2.2em;
  text-align: justify;
}

