body {
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
}

header,
footer,
section {
   overflow: auto;
}

a,
a:visited,
a:active,
a:focus {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .ad {

  }

}

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 540px) {

}

@media screen and (min-width: 768px) {

  }

@media screen and (min-width: 992px) {

    }

@media screen and (min-width: 1200px) {

      }
